<div class="panel panel-default recordlist">
	<div class="panel-heading">
		<a title="Collapse table" class="t3js-toggle-recordlist" href="#recordlist-pages" role="button" data-table="pages" data-bs-toggle="collapse" data-bs-target="#recordlist-pages">
			<f:translate key="LLL:EXT:module_data_listing/Resources/Private/Language/locallang_feusers.xml:groups" />
		</a>
	</div>
	<div class="collapse show" data-state="expanded" id="recordlist-pages">
		<div class="panel-body">
			<div class="form-inline form-inline-spaced">
				<div class="form-group usergroups" data-mdl-filter="usergroup">
					<div>
					<f:for each="{groups}" as="group">
						<label>
							<f:form.checkbox name="{group.title}" value="{group.uid}" />&nbsp;
							{group.title}
						</label>
					</f:for>
					</div>
					<button type="button" class="mdl-filter-search btn btn-info btn-sm">Filter</button>
					<button type="button" class="mdl-filter-clear btn btn-default btn-sm">Clear</button>
				</div>
			</div>
		</div>
	</div>
</div>
