<div class="panel panel-space panel-default recordlist">
	<div class="panel-heading">
		<a title="Collapse table" class="t3js-toggle-recordlist" data-table="pages" data-toggle="collapse" data-target="#recordlist-pages">
			<f:translate key="LLL:EXT:module_data_listing/Resources/Private/Language/locallang_feusers.xml:groups" />
		</a>
		<a title="Collapse table" class="pull-right t3js-toggle-recordlist" data-table="pages" data-toggle="collapse" data-target="#recordlist-pages">
			<core:icon identifier="actions-view-list-collapse" size="small" />
		</a>
	</div>
	<div class="collapse in" data-state="expanded" id="recordlist-pages">
		<div class="panel-body">
			<div class="form-inline form-inline-spaced">
				<div class="form-group usergroups">
					<div>
					<f:for each="{groups}" as="group">
						<label>
							<f:form.checkbox name="{group.title}" value="{group.uid}" />&nbsp;
							{group.title}
						</label>
					</f:for>
					</div>
					<button type="button" class="searchUsergroups btn btn-info btn-sm">Filter</button>
				</div>
			</div>
		</div>
	</div>
</div>
