{namespace be = TYPO3\CMS\Backend\ViewHelpers}

<h1>
    <f:translate key="LLL:EXT:backend_modules_datatables/Resources/Private/Language/locallang_feusers.xml:title" />
</h1>

<div class="form-inline form-inline-spaced">
    <div class="form-group usergroups">
        <label>
            <f:translate key="LLL:EXT:backend_modules_datatables/Resources/Private/Language/locallang_feusers.xml:groups" />
        </label>
        <br />
        <f:for each="{groups}" as="group">
            <label>
                <f:form.checkbox name="{group.title}" value="{group.uid}" />&nbsp;
                {group.title}
            </label>
        </f:for>
        <br />
        <button type="button" class="searchUsergroups">Search</button>
    </div>
</div>

<table class="table table-striped table-hover" id="feusers-table" style="width:100%;" data-status="{status}">
    <thead>
        <tr>
            <f:for each="{headers}" as="header">
                <th>{header}</th>
            </f:for>
        </tr>
    </thead>
</table>